<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="/css/layout.css"/>
    <%- style %>
</head>
<body>
    <%- include('./partials/_header.ejs') %>
    <!-- <h1>anitact/home</h1> -->
    <%- body %>
    <%- include('./partials/_footer.ejs') %>

    <%- script %>
</body>
</html>